<mat-toolbar>
    <span>Reunion Registration Form</span>
</mat-toolbar>

<form #rsvpForm="ngForm" (ngSubmit)="process(rsvpForm)" fxLayout="column row" fxLayoutGap="10px">
    <label for="name">
        <span>Name: </span>
        <input type="text" name="name" id="name" ngModel>
    </label>
    <label for="guest">
        <span>Guest: </span>
        <input type="number" name="guest" id="guest" step="1" min="0" max="3" ngModel>
    </label>


    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" ngModel>

    <label for="date">Select Day</label>
    <input type="date" name="date" id="date" ngModel>

    <label for="order">Pre-Order</label>
    <label class="radio">
        <input type="radio" name="order" id="order" value="yes" ngModel checked>Yes
    </label>
    <label class="radio">
        <input type="radio" name="order" id="order" value="no" ngModel>No
    </label>


    <label for="allergies">Allergies</label>
    <label>
        <input type="checkbox" name="nuts" id="allergies" ngModel>Nuts
    </label>
    <label>
        <input type="checkbox" name="seafood" ngModel>Seafood
    </label>
    <label>
        <input type="checkbox" name="diary" ngModel>Diary Products
    </label>

    <label for="comments">Comments</label>
    <textarea name="comments" id="comments" cols="30" rows="10" ngModel></textarea>

    <button type="reset">Clear</button>
    <button type="submit">Register</button>
</form>