<mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2vw">
        <img src="assets/rsvp.png" style="width: auto; height: 5vh;" alt="">
        <span>Reunion Registration Form</span>
    </div>
</mat-toolbar>

<form #rsvpForm="ngForm" (ngSubmit)="process(rsvpForm)" fxLayout="column row" fxLayoutGap="10px">
    <mat-form-field>
        <input type="text" name="name" placeholder="Name" id="name" ngModel matInput>
    </mat-form-field>

    <mat-form-field>
        <input type="number" name="guest" id="guest" placeholder="No. of guest" step="1" min="0" max="3" ngModel
            matInput>
    </mat-form-field>

    <mat-form-field>
        <input type="text" name="phone" id="phone" placeholder="Phone Number" ngModel matInput>
    </mat-form-field>

    <mat-form-field>
        <input type="date" name="date" id="date" placeholder="Select Date" ngModel matInput>
    </mat-form-field>

    <label for="order">Vegetarian</label>
    <label class="radio">
        <input type="radio" name="order" id="order" value="yes" ngModel checked>Yes
    </label>
    <label class="radio">
        <input type="radio" name="order" id="order" value="no" ngModel>No
    </label>


    <label for="allergies">Allergies</label>
    <label>
        <input type="checkbox" name="nuts" id="allergies" ngModel>Nuts
    </label>
    <label>
        <input type="checkbox" name="seafood" ngModel>Seafood
    </label>
    <label>
        <input type="checkbox" name="diary" ngModel>Diary Products
    </label>

    <label for="comments">Comments</label>
    <textarea name="comments" id="comments" cols="30" rows="10" ngModel></textarea>

    <button type="reset">Clear</button>
    <button type="submit">Register</button>
</form>